@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;

}
.logo{
    text-decoration: none;
    color: rgb(47, 61, 117);
    font-size: 30px;
}

.header{
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}

.header-container{
    display: flex;
    align-items: center;
    margin-left: 300px;
    gap: 30px;
}

.head-a {
  text-decoration: none;
  color: rgb(47, 61, 117);
}

.active-link {
  text-decoration: none;
  color: rgb(47, 61, 117);
  border: 1px solid rgb(47, 61, 117);
  padding: 10px;
  border-radius: 100px;
}
